*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box; 
}
[class*="col-"]
{
    float: left;
    border: 1px solid black;
}

.contenedor
{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}
#fila_1
{
    position: relative;    
    width: 100%;
    clear: both;
    display: table; 
    background-color: grey;
}
#logo
{
    margin-left: 15px;
}

ul li 
{
    display: inline-block;
    position: relative;
    left: 42%;
    padding: 24.2px; 
    color: white;
}
li a
{
    color: white;
}

ul li:hover 
{
    background-color: #555;
    color: black;
  }
